.workExperienceContainer {
  padding-bottom: 60px;
  padding-top: 60px;
  position: relative;
  z-index: 1;
  background-color: var(--black);
  max-width: 1440px;
  margin: 0 auto;
}
.title {
  font-size: 55px;
  font-weight: 700;
  max-width: 780px;
}
.telegramTitle {
  font-size: 40px;
  font-weight: 700;
  max-width: 780px;
}
.workList,
.workListOther {
  gap: 20px;
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  flex-wrap: wrap;
}
.workList {
  margin-bottom: 40px;
}
.workListOther {
  margin-top: 30px;
  margin-bottom: 30px;
}
.otherTitle {
  margin-top: 40px;
}
.otherDescription {
  margin-top: 10px;
  display: inline-block;
}
.workItem {
  width: calc(100% / 2 - 20px);
}

.num {
  font-size: 117px;
  font-weight: 400;
  line-height: 120%;
  opacity: 0.5;
}
.nameContainer {
  font-size: var(--fnSizes-sm);
}
.description {
  line-height: 150%;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 20px;
  display: inline-block;
  color: var(--lightGrey);
}
.telegramDescription {
  position: relative;
  line-height: 150%;
  font-weight: 400;
  margin-top: 9px;
  margin-bottom: 9px;
  display: block;
  color: var(--lightGrey);
  padding-left: 20px;
}
.telegramDescription::before {
  content: "-";
  position: absolute;
  font-size: 30px;
  color: inherit;
  left: 2px;
}
.description > li {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  opacity: 0.9;
}
.description > li::before {
  content: "-";
  position: absolute;
  font-size: 30px;
  color: inherit;
  left: 2px;
}
.vocation {
  display: inline-block;
  transition: color 0.3s;
  color: var(--greyText);
  font-size: 16px;
}
.green {
  color: var(--green);
}
.blue {
  color: var(--blue);
}
.pink {
  color: var(--pink);
}
.years {
  color: var(--greyText);
}

.titleSection {
  color: #ffffff60;
  font-weight: 400;
}
.yearsTitle {
  display: inline-block;
  margin: 0 5px;
  color: var(--white);
  font-weight: 600;
  font-size: var(--fnSizes-sm);
}

.professionalSummary {
  padding-top: 50px;
}
.summaryDescriptionTitle {
  font-size: 32px;
}
@media screen and (max-width: 1240px) {
  .workList {
    gap: 18px;
  }
}

@media screen and (max-width: 1040px) {
  .num {
    font-size: 90px;
  }
  .title {
    font-size: var(--fnSizes-xl);
  }
}

@media screen and (max-width: 768px) {
  .num {
    font-size: 117px;
  }

  .telegramTitle {
    font-size: 25px;
  }

  .workList {
    gap: 40px;
    flex-direction: column;
  }
  .title {
    font-size: var(--fnSizes-m);
  }
  .workItem {
    width: 100%;
  }
  .description {
    color: var(--white);
  }
}
